//全局scss变量、混入
$rootSize: 16; //根字体大小
$color: rgba(255, 25, 25, 1); //主题色
$dangerColor: #f56c6c; //危险色
$base-background-color: rgb(245, 245, 245); //基础背景色
$base-boxshadow: 0 0 0.25rem 0.125rem rgba(24, 24, 24, 0.1); //基础阴影
$white: rgb(255, 255, 255); //白色
$error-color: rgba(0, 0, 0, 0.1); //error路由页面对应的文字颜色
$gap-10: 1rem;
$gap-5: 0.5rem;

@mixin fullBlock {
  display: block;
  width: 100%;
  height: 100%;
}

@mixin flex($justify: center, $align: $justify) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
